<section
  id="about"
  class="mb-16 scroll-mt-16 md:mb-20 lg:mb-24 lg:scroll-mt-24"
  aria-label="About me"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:mb-10 lg:text-lg"
    >
      Sobre mí
    </h2>
  </div>
  <div class="text-slate-300">
    <p class="mb-4">
      Soy una persona proactiva, organizada y responsable. Un apasionado por la
      tecnología y los nuevos desafíos. Disfruto de aprender cosas nuevas y
      ponerlas en práctica.
    </p>
    <p class="mb-4">
      Constantemente me estoy capacitando en diferentes lenguajes de
      programación mediante cursos de muy buen nivel y también de manera
      autodidacta, además de participar actívamente de proyectos grupales.
    </p>
    <p class="mb-4">
      Como programador Fullstack, mi foco está puesto en entender todo el
      espectro del desarrollo web, así como la lógica y los conceptos que
      funcionan detrás de cada línea de código.
    </p>
  </div>
</section>
